h1 {
    color: white;
    background-color:rgb(29, 29, 77);
    text-align: top;
    margin-top: 10px;
    padding: 40px;
    border-radius: 10px;
    font-family: lumira;
    font-weight: bold;
}
body {
    width: 70%;
    margin-left: 15%;
    text-align: center;

}
form, .results {
    border: 2px solid rgb(29, 29, 77);
    margin-top: 5%;
    width: 104%;
    margin-left: -2%;
    border-radius: 5px;
   
}
.results {
    margin-bottom: 30px;
}
.form-row, button {
   text-align: left;
   padding: 5px;
   margin-top: 1%;
}
.formTitle {
    background-color:rgb(29, 29, 77);
    color: white;
    text-align: left;
    font-weight: bold;
    padding: 2px;
   

}
.item {
    margin-top: -20%;
}
.form-group {
    text-align: left;
    padding: 5px;
    margin-top: -2%;
    font-family: initial;
    font-weight: bold;
}
.btn {
    margin-bottom: 10px;
    margin-left: -76%;
    

}
button {
    background-color: rgb(29, 29, 77);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    
}
#fixedIcons {
    position: relative;
    /* margin-left: 80%;
    margin-top: -30%; */
    margin-left: 115%;
    margin-top: -55%;
    

}
i {
    font-size: 300%;
    margin-top: 10px;
}
.fa-newspaper {
    font-size: 130%;

}
option {
    background-color: rgb(212, 200, 200);
}
#headIcon {
    font-size: 100%;
}
footer {
    font-size: 200%;
}