h1 {
    color: white;
    background-color:rgb(44, 44, 87);
    text-align: center;
    margin-top: 10px;
    padding: 40px;
    border-radius: 20px;
    font-family: lumira;
}
body {
    width: 70%;
    margin-left: 15%;
    text-align: center;

}
form {
    border: 2px solid rgb(29, 29, 77);
    margin-top: 5%;
    width: 104%;
    margin-left: -2%;
    border-radius: 5px;
}
.results {
    border: 2px solid rgb(29, 29, 77);
    margin-top: 5%;
}
.form-row, button {
   text-align: left;
   padding: 5px;
   margin-top: 1%;
}
.formTitle {
    background-color:rgb(29, 29, 77);
    color: white;
    text-align: left;
    font-weight: bold;
    padding: 2px;
   

}
.item {
    margin-top: -20%;
}
.form-group {
    text-align: left;
    padding: 5px;
    margin-top: -2%;
    font-family: lumira;
    font-weight: bold;
}
.btn {
    margin-bottom: 10px;
    margin-left: -77%;
    

}
button {
    background-color: rgb(29, 29, 77);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    
}