h1 {
    color: white;
    background-color:rgb(44, 44, 87);
    text-align: center;
    margin-top: 10px;
    padding: 40px;
    border-radius: 20px;
    font-family: lumira;
}
body {
    width: 70%;
    margin-left: 15%;
    text-align: center;

}
form {
    border: 1px solid rgb(29, 29, 77);
    margin-top: 5%;
    width: 104%;
    margin-left: -2%;
}
.results {
    border: 1px solid rgb(29, 29, 77);
    margin-top: 5%;
}
.form-group, .form-row, button {
   text-align: left;
   padding: 3px;
   margin-top: 1%;
}
.formTitle {
    background-color:rgb(96, 104, 129);
    color: white;
    text-align: left;
    font-weight: bold;
    font-family: cursive;
    padding: 2px;
}
